<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.newlogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Belajar Bersama Miki (BBM)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Modul" />
        <activity android:name=".Play" />
        <activity android:name=".huruf" />
        <activity android:name=".angka" />
        <activity android:name=".hewan" />
        <activity android:name=".buah" />
        <activity android:name=".bentuk" />
        <activity android:name=".warna"></activity>
    </application>

</manifest>